# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.venv.bak/

# SQLite DB files
*.db
*.sqlite3

# Python bytecode
*.pyo
*.pyd

# Pip logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
tests/__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/
.code-workspace

# PyCharm
.idea/
.idea/*

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
logs/
*.log.*
*.tmp

# Environment
.env
.env.*
!env.example

commands

# -----------------------
# Alembic
#
